# Telegram Bot API
BOT_TOKEN=tu_token_de_telegram
CHAT_ID=tu_chat_id_de_telegram

# Perfil de usuario (JSON) — géneros y nota mínima de IMDB
PERFIL={"Acción": 6, "Animación": 5, "Ciencia ficción": 7, "Comedia": 6, "Drama": 7, "Terror": 6, "Thriller": 6}
